.creatPost {
    padding: 8px;
    background-color: rgb(122, 122, 122);
    margin: 8px 0px 4px 0px;
    border-radius: 4px;
}
.textarea {

}
.text {
    font-size: 28px;
}
.button__post {
    padding: 6px 18px 6px 18px;
}