.container {
    margin: 10px;
    overflow-wrap: break-word;
    position: relative
}
.msg__text {
    margin: 3px;
    border-radius: 12px;
    white-space: pre-line;
    overflow-wrap: break-word;
}