.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #333336;
    padding: 16px;
    font-family: Arial, sans-serif;
}
.link {
    display: flex;
    align-items: center;
}

.item a {
    color: #fdfdfe;
    text-decoration: none;
}

.item {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 0px;
}
.logo {
    margin-left: 60px;
}
.item:hover {
    background-color: #45464a;
    border-radius: 6px;
}
















