.post {
    font-size: 32px;
    padding: 8px;
    background-color: #7a7a7a;
    margin: 8px 0px 4px 0px;
    border-radius: 4px;
}
.namepost {
    font-size: 26px;
}
.description {
    padding: 8px 0px 8px 0px;
    font-size: 18px;
}
.image {
    border-radius: 4px;
}
.image img {
    padding: 12px;
    width: 40%;
    height: 40%;
    border-radius: 4px;
    background-color: #656565;
}