* {
    margin: 0;
    padding: 0;
    text-decoration:none;
}
a {
    text-decoration:none;
}

.app-wrapper {
    display: grid;
    min-height: 100%;
    background-color: #222226;

    grid-template-areas:
  "header header"
  "nav content"
  "footer footer";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;
}
