.container {
    background-color: #333336;
    padding: 24px;
    margin: 20px 240px 0px 30px;

    display: grid;

    grid-template-areas:
  "avatar info";
    grid-template-rows: auto auto;
    grid-template-columns: 4fr 8fr;
}
.users {
    margin: 8px 8px 4px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color: #7a7a7a;
}
.messages {
    margin: 8px 0px 4px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color: #7a7a7a;
}