.container {
    /*background-color: #333336;*/
    padding: 0px 10px 10px 10px;
    margin: 30px 344px 32px 80px;

    display: grid;

    grid-template-areas:
  "avatar info";
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 9fr;
}
.users__list {
    margin: 8px 8px 0px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color: #606060;
}
.messages {
    height: 500px;
    overflow-y: auto;
    margin: 8px 0px 4px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color: #606060;
}
.messages::-webkit-scrollbar {
    width: 0px;
}
.messages__textarea_container {
    display: grid;
    grid-template-columns: 12fr 1fr;

    width: 100%;
    background: #606060;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}
.messages__textarea {
    margin: 5px 0px 5px 15px;
    padding: 5px;
    width: 96%;
    max-height: 330px;
    height: 60px;
    font-size: 15px;
    color: rgba(253, 253, 254, 0.8);
    background-color: #777777;
    border-radius: 8px;
    outline: none;
    resize: none;
    border-color: rgba(34, 34, 38, 0.4);
    cursor: pointer;
}
.messages__textarea::-webkit-input-placeholder {
    color: rgba(234, 234, 234, 0.7);
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-top: 2px;
}
.messages__textarea:hover {
    cursor: pointer;
}
textarea:is(:focus, :valid) {
    border-width: 1px;
    border-color: #4671EA;
}
textarea::-webkit-scrollbar {
    width: 0px;
}
textarea {
    cursor: pointer;
}
.messages__button {
    border-radius: 8px;
    margin: 3px 2px 0px 0px;
    padding: 4px 0px 0px 0px;
    text-align: center;
    cursor: pointer;
}
.messages__button img {
    width: 30px;
    height: 30px;
}